body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #ebebeb;
}

#picture {
    border-radius: 50%;
    width: 50%;
    margin: 1% 1% 1% 12%;
}

#picture.mobile {
    margin: 1% 25% 1% 25%;
}

.left-title {
    background-color: seagreen;
    color: white;
    width: max-content;
    padding: 5px;
    font-weight: bold;
}

.title {
    font-size: x-large;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    width: 40%;
}

.title.mobile {
    width: 100%;
}

#header {
    background-color: #414141;
    text-align: center;
    color: white;
}

p#header-name {
    font-size: xx-large;
}

#cv-container {
    display: flex;
    flex-direction: row;
}

#main-cv-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
    margin-right: 2em;
}

#main-cv-container.mobile {
    margin-right: 0em;
}

#cv-container.mobile {
    flex-direction: column;
}

#all-skills-container {
    display: flex;
    flex-direction: row;
}

#all-skills-container.mobile {
    flex-direction: column;
}

#skills-container-left,
#skills-container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#skills-container-left.mobile,
#skills-container-right.mobile {
    width: 100%;
}

#personal-info {
    background-color: #cccccc;
    width: 30%;
    padding-left: 1em;
    margin-right: 2em;
    padding-right: 2em;
}

#personal-info.mobile {
    width: 100%;
    padding-left: 0em;
    margin-right: 0em;
    padding-right: 0em;
}

#personal-info>div {
    margin-left: 12%;
}

#about-me>.about-me {
    text-align: justify;
}

#about-me.mobile>.about-me {
    text-align: left;
    margin-right: 2em;
}

#curriculum>.title {
    height: 5%;
    margin: 0px;
}

#curriculum-jobs {
    height: 95%;
}

.curriculum-job {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.curriculum-job-date {
    width: 11%;
    align-self: start;
    padding-top: 1em;
    text-align: right;
    margin-right: 1em;
}

.curriculum-job-description {
    border-left: 1px solid;
    padding-left: 1em;
    width: 100%;
    padding-right: 1em;
}

.curriculum-table-position,
.degree-name {
    font-size: large;
    font-weight: bold;
}

.curriculum-table-company-specs,
.degree-location {
    font-size: large;
}

#programming-container,
#skills-container {
    display: flex;
    flex-direction: column;
}

.programming-language,
.skill {
    display: flex;
    flex-direction: row;
}

.programming-language-name,
.skill-name {
    width: 8em;
    background-color: slategray;
    color: white;
    padding: 0.25em;
    font-size: large;
    font-weight: bold;
    text-align: right;
}

.programming-language-knowledge,
.skill-knowledge {
    height: 1em;
    align-self: center;
    margin-left: 1em;
    margin-right: 1em;
}

.programming-language-knowledge-1,
.skill-knowledge-1 {
    width: 1%;
    background-color: rgb(255, 94, 0);
}

.programming-language-knowledge-2,
.skill-knowledge-2 {
    width: 2%;
    background-color: rgb(255, 174, 0);
}

.programming-language-knowledge-3,
.skill-knowledge-3 {
    width: 12%;
    background-color: rgb(255, 230, 0);
}

.programming-language-knowledge-4,
.skill-knowledge-4 {
    width: 22%;
    background-color: rgb(229, 255, 0);
}

.programming-language-knowledge-5,
.skill-knowledge-5 {
    width: 32%;
    background-color: rgb(208, 255, 0);
}

.programming-language-knowledge-6,
.skill-knowledge-6 {
    width: 42%;
    background-color: rgb(179, 255, 0);
}

.programming-language-knowledge-7,
.skill-knowledge-7 {
    width: 52%;
    background-color: rgb(70, 100, 0);
}

.programming-language-knowledge-8,
.skill-knowledge-8 {
    width: 62%;
    background-color: rgb(92, 150, 0);
}

.programming-language-knowledge-9,
.skill-knowledge-9 {
    width: 72%;
    background-color: rgb(30, 200, 0);
}

.programming-language-knowledge-10,
.skill-knowledge-10 {
    width: 80%;
    background-color: rgb(0, 250, 0);
}

#certificates-grants-list>p {
    font-size: large;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.language-level {
    color: gray;
    font-weight: bold;
}

.language-level-5 {
    color: green;
}

.language-level-4 {
    color: greenyellow;
}

.language-level-3 {
    color: yellowgreen;
}

.language-level-2 {
    color: orange;
}

.language-level-1 {
    color: orangered;
}

.language-name {
    margin-left: 3em;
    width: 28%;
    font-size: larger;
    font-weight: bold;
}

.language-level-container {
    display: flex;
}

.language-skill {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    border-left: 1px solid;
    font-size: large;
}

#instagram {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0px;
    margin-left: 0px !important;
}

.post {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out, left 2s ease-in-out;
    text-align: -webkit-center;
}

.post.active {
    opacity: 1;
    left: 0;
}

#instagram::after {
    content: "";
    display: block;
    clear: both;
}

.column-list-2 {
    column-count: 2;
}

.column-list-3 {
    column-count: 3;
}

#areas-of-specialization.mobile>.column-list-2,
#areas-of-specialization.mobile>.column-list-1,
#areas-of-specialization.mobile>.column-list-3,
#interests.mobile>.column-list-2,
#interests.mobile>.column-list-1,
#interests.mobile>.column-list-3,
#soft-skills.mobile>.column-list-1,
#soft-skills.mobile>.column-list-2,
#soft-skills.mobile>.column-list-3 {
    column-count: 1;
}

#languages-list.mobile>.language {
    justify-content: space-between;
}

#languages-list.mobile>.language>.language-name {
    margin-left: 1em;
}

#languages-list>.language>.language-skill>.cambridge-level {
    margin-right: 1em;
}

#curriculum-jobs.mobile>.curriculum-job>.curriculum-job-date {
    width: 55%;
}

.comment {
    position: absolute;
    background-color: #111111;
    color: #cccccc;
    margin: 1%;
    padding: 1em;
    z-index: 9999 !important;
    opacity: 0;
    transition: opacity .2s ease;
    left: -9999vw;
    bottom: -9999vw;
    display: inline;
    text-align: right;
    max-width: 50%;
}

.comment-hover {
    cursor: pointer;
    font-weight: bold;
}

.comment-hover:hover>.comment {
    opacity: 1;
    left: auto;
    bottom: auto;
}

li.comment-hover {
    background-color: #4d4d4d;
    color: #cccccc;
    width: max-content;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.comment.active {
    opacity: 1;
    left: auto;
    bottom: auto;
    cursor: auto;
}

.comment>div {
    padding-top: .5em;
    text-align: justify;
    font-weight: initial;
}

.close-comment {
    background-color: #ff5722;
    color: #ccc;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

.close-comment:hover {
    color: #ff5722;
    background-color: #ccc;
}

.close-comment.active {
    display: inline-block;
}