body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#picture {
    border-radius: 50%;
    width: 50%;
    margin: 1% 1% 1% 12%;
}

.left-title {
    background-color: seagreen;
    color: white;
    width: max-content;
    padding: 5px;
    font-weight: bold;
}

.title {
    font-size: x-large;
    border-bottom: 1px solid black;
    margin-bottom: 1vh;
}

#header {
    background-color: #9BB59C;
    text-align: center;
}

p#header-name {
    font-size: xx-large;
}

#cv-container {
    display: flex;
    flex-direction: row;
}

#main-cv-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
    margin-right: 2em;
}

#skills-container {
    display: flex;
    flex-direction: row;
}

#skills-container-left,
#skills-container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#personal-info {
    background-color: #A5B975;
    width: 30%;
    padding-left: 1em;
    margin-right: 2em;
    padding-right: 2em;
}

#personal-info>div {
    margin-left: 12%;
}

#curriculum {
    background-color: #79E755;
}

#curriculum>.title {
    height: 5%;
    margin: 0px;
}

#curriculum-jobs {
    height: 95%;
}

.curriculum-job {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.curriculum-job-date {
    width: 11%;
    align-self: start;
    padding-top: 1em;
    text-align: right;
    margin-right: 1em;
}

.curriculum-job-description {
    border-left: 1px solid;
    padding-left: 1em;
    width: 100%;
}

.curriculum-table-position {
    font-size: large;
    font-weight: bold;
}

.curriculum-table-company-specs {
    font-size: large;
}

#programming,
#skills {
    height: 50%;
}

#degrees {
    background-color: #7DD688;
}

#programming {
    background-color: #E6B9DA;
}

#certificates-grants {
    background-color: #C5CCBB;
}

#skills {
    background-color: #EB756D;
}

#languages {
    background-color: #75D5FE;
}

#soft-skills {
    background-color: #789BA8;
}